.app-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

table td{
  border-left: 1px solid rgb(222, 226, 230);
}

table td:last-child{
  border-right: 1px solid rgb(222, 226, 230);
}

table th{
  border-left: 1px solid rgb(222, 226, 230);
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230) !important;
  background-color: #d3d3d36b !important;
}

table th:last-child{
  border-right: 1px solid rgb(222, 226, 230);
}